.float-right
  = search_form_for @q, class: 'form-inline' do |f|
    = f.search_field :author_cont, class: 'form-control mr-3', placeholder: 'Author'
    = f.search_field :journal_name_cont, class: 'form-control mr-3', placeholder: 'Journal'
    = f.submit "Search", class: 'btn btn-dark'
= content_tag :table do
  = content_tag :th, "Sort by:"
  = content_tag :th, sort_link(@q, :date)
  = content_tag :th, sort_link(@q, :author)
  = content_tag :th, sort_link(@q, :journals_name, "Journal")
%table.table.mt-5
  %thead
    %tr
      %td Date
      %td Author(s)
      %td Journal
      %td Title
      %td
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.date.strftime('%D')
        %td= article.author
        %td= article.journal.name
        %td= link_to article.name, "https://www.sci-hub.tw/#{article.doi}"
        %td
          .hide
            = article.doi
.float-left
  = paginate @articles, theme: 'twitter-bootstrap-4'
.float-right
  = link_to 'Refresh', articles_path, method: :post, class: 'btn btn-primary'
  %a{title: "Add this article to your Zotero library", href:"javascript:var d=document,s=d.createElement('script');s.src='https://www.zotero.org/bookmarklet/loader.js';(d.body?d.body:d.documentElement).appendChild(s);void(0);", class: 'btn btn-dark'}
    Save to Zotero
